* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("photos/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
}

#main-container {

  width: 350px;
  margin-top: 35px;
}

#banner {
  border-radius: 15px;
  height: 75px;
  background-color: rgb(229, 210, 187);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  box-shadow: 3px 3px 5px black;
}

#banner-icon {
  height: 70px;
  width: auto;
}

#banner-title {
  font-size: 45px;
  text-align: center;
}